.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
  
  .author-link {
    color: var(--secondary);
    text-decoration: none;
    
    &:hover {
      color: var(--tertiary);
      text-decoration: underline;
    }
  }
}
